# URL de tu calendario en formato iCal (.ics)
ICAL_URL=https://calendar.google.com/calendar/ical/tu-correo/public/basic.ics

# Puerto para el servidor web (Keep-Alive)
PORT=5000

# (Solo para Replit) Ruta del ejecutable de Chromium si falla la ruta por defecto
# CHROME_BIN=/nix/store/.../bin/chromium
